* {
    margin: 0;
    padding: 0;
}

section {
    background-color: gainsboro;
    display: flex;
    justify-content: center;

}

h1 {
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    padding-block: 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
   

}

.div {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px;
    
}

strong {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: darkgray;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
}

a {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    text-decoration: none;
    width: 150px;
    padding: 3px;
    background-color: gainsboro;
    color: black;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    transition: 300ms;


}
a:hover{
  background-color: cornflowerblue;
  color: white;
}

@media (max-width: 700px) {
    .div{
        width: 140px;
       
        margin-inline: 20px;
        align-items: center;
    
    }
    strong{
        font-size: 16px;
    }

    a{
        width: 100;
       padding: 3px;
       font-size: 14px;
    }
}